.event-list{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

.cancel-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: #ff5e5e;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn:hover {
    background: #e04e4e;
}
