.event-list{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

.events-layout,
.dashboard-layout {
    display: flex;
    height: 100vh;
}

.events-content,
.dashboard-content {
    margin-left: 250px;
    padding: 2rem;
    flex: 1;
    overflow-y: auto;
}